*{
    text-align:center ;
}
body{
    background-color: rgba(26, 150, 150, 0.486)
}
h1{ color:  rgb(255, 255, 255);

}
.div{
    width: 100; height: 50%;
    background-image: url(https://wallpaperaccess.com/full/1302751.jpg);
    text-align: center; 
    box-shadow: 2px 3px 4px;
    font-size: 30px;
}
h3{
    color:rgb(29, 87, 87);
    text-align: center;  
}
button{
    background-color: antiquewhite;
}
.poop{
    float: right;
    height: 250px;
    width: 20%;
    position: relative;
    bottom: 250px;
}
.nice{
    float: left;
    height:60%; width: 25%;
position: relative;
bottom: 300px;
}